/* DEVELOPER: Melody Chirinos, IS117-005, Fall 2021 */
* {
    margin: 0;
    padding: 0;
}
/* Navigation Bar */
#collapsibleNavbar, #collapsibleNavbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
#collapsibleNavbar li {
    float: right;
}
#collapsibleNavbar li a {
    background-color:#212529;
    color: aliceblue;
    display: inline-block;
    font-family: "Roboto";
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    width: 160px;
}
#collapsibleNavbar .current {
    color: darkred;
}
#collapsibleNavbar li ul{
    display: none;
    top: 100%;
    float: right;
    visibility: hidden;
}

#collapsibleNavbar li ul li {
    float: none;
}
#collapsibleNavbar li:hover > ul, ul li ul:hover {
    visibility: visible;
    display: block;
    position: absolute;
}

#collapsibleNavbar::after {
    content: "";
    clear: both;
    display: block;
}
.dropdown-menu {
    background-color: #212529;
}
/* Cards */
.card-deck {
    display: flex;
    flex-direction: row;
    padding: 3em 3em 3em 3em;
}
.card-img-top {
    width: 80%;
    height: 50%;
    border: 3px solid maroon;
}
.card{
    width: 40%;
    height: 50%;
    background-image: url(https://img.freepik.com/free-photo/old-paper-texture-background_118047-1365.jpg?size=626&ext=jpg);
    border: 3px solid maroon;
    margin-right: 15px;
    margin-left:15px;
}
/* Body */

body {
    margin: 0;
    font-family: "Courier New";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #D3D3D3;
    background-image : url(https://image.freepik.com/free-photo/grey-paper-texture_1253-25.jpg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* News */
news p{
    font-size: 150%;
    font-family: "Courier New";
    font-weight: bold;
    color: black;
    padding-top:0;
    padding-bottom: .25em;
}

/* Article */
article img {
    float: left;
    max-width: 40%;
    min-width: 295px;
    max-height: 50%;
    min-height: 295px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    border: 5px solid maroon;
}
article h1, news h1{
    font-size: 400%;
    font-family: "Courier New";
    font-weight: bolder;
    color: #6a1a21;
    padding-top:.5;
}
article h2, news h2{
    font-size: 300%;
    font-family: "Courier New";
    font-weight: bolder;
    color: maroon;
}
article h3,news h3 {
    font-size: 270%;
    font-family: "Courier New";
    font-weight: bolder;
    color: maroon;
}
article p{
    font-size: 150%;
    font-family: "Courier New";
    font-weight: bold;
    color: black;
    padding-top:0;
    padding-bottom: .25em;
    margin-left: 14.5em;
}
/* misc */
.btn-primary{
    float: none;
    font-family: "Courier New";
    font-weight: bold;
    background-color: maroon;
    border-color: maroon
}
/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: Aliceblue;
    text-align: center;
    padding: 10px;
    font-family: "roboto";
    font-size: 1.2rem;
    font-weight: bold;
}
